@font-face {
    font-family: '3dlet';
    src:  url('../../Fonts/3dlet/3dlet-webfont.woff2') format('woff2'),
          url('../../Fonts/3dlet/3dlet-webfont.woff') format('woff');
}

@font-face {
    font-family: 'barcode';
    src:  url('../../Fonts/barcode/barcodefont-webfont.woff2') format('woff2'),
          url('../../Fonts/barcode/barcodefont-webfont.woff') format('woff');
}

html { 
    height:100%; 
}

.contactForm {
    display: flex;
    border: 5px solid #FCF7DE;
    width: 90%;
    position: relative;
    margin-bottom: 60px;
    left: 5%;

    input {
        width: 100%;
    }
}

.text {
    font-family: barcode;
    font-size: 72px;
    padding: 10px 10px 10px 10px;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.contentContainer {
    justify-content: center;
    flex: 1;
}

.title {
    font-family: '3dlet', Fallback, sans-serif;
    font-size: 160px;
    text-align: center;
    position: relative;    
}

.container {
    padding-top: 10px; 
    margin:0; 
    position:relative; 
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    border: 5px solid #FCF7DE;
    margin-bottom: 10px;
    width: 90%;
    justify-content: center;
    left: 5%;
    align-items: center;

    img {
        border: 5px solid #DEF3FD;
        padding: 5px 5px 5px 5px;
        margin: 10px 10px 10px 10px;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 350%;
    }
    
    .container {
        max-width: 90%;
    }
  }