@font-face {
    font-family: '3dlet';
    src:  url('../../Fonts/3dlet/3dlet-webfont.woff2') format('woff2'),
          url('../../Fonts/3dlet/3dlet-webfont.woff') format('woff');
}

html { 
    height:100%; 
}

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.contentContainer {
    justify-content: center;
    flex: 1;
    max-height: 90vh;
}

.title {
    font-family: '3dlet', Fallback, sans-serif;
    font-size: 160px;
    text-align: center;
    position: relative;    
}

.container {
    padding-top: 10px; 
    margin:0; 
    position:relative; 
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    height: auto;
    border: 5px solid #FCF7DE;
    margin-bottom: 10%;
    width: 90%;
    justify-content: center;
    left: 5%;

    img {
        border: 5px solid #DEF3FD;
        padding: 5px 5px 5px 5px;
        margin: 10px 10px 10px 10px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60%;
    
        img {
            flex-grow: 1;
            width: 35%;
            height: 40%;
            border: unset;
        }
    
    } 

    .title {
        text-align: center;
        left: 5%;
        top: 20%;
        font-size: 68px;
    }
}

@media (max-height: 568px) {
    .title {
        font-size: 64px;
    }
}

$breakpoint-tablet: 768px;

@media (min-width: $breakpoint-tablet) and (max-width: 1100px) {
    .title{
       left: 1%; 
    }

    .container {
        flex-wrap: wrap;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #FCF7DE;
        height: 50%;

        img {
            width: 35%;
        }
    }
}