
@font-face {
  font-family: 'thin_worms';
  src: url('Fonts/mb-thin_worms-webfont.woff2') format('woff2'), 
       url('Fonts/mb-thin_worms-webfont.woff') format('woff'), 
}

.logo {
  max-width: 20%;
  height: auto;
  float: left;
  line-height: 72px;
  border-radius: 8px;
  margin: 12px 12px 12px 12px;
}

.hand {
  max-width: 15%;
}

.header {
    background-color: transparent;
    width: 100%;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }

  .logo {
    max-width: 90%;
    height:auto;
  }

  .hand {
    display: none;
  }
}

$breakpoint-tablet: 768px;

@media (min-width: $breakpoint-tablet) and (max-width: 1100px) {
  .header {
    max-height: 20%;
    text-align: center;
  }

  .logo {
    max-width: 70%;
    float: none;
  }

  .hand {
    display: none;
  }
}