@font-face {
  font-family: "thin_worms";
  src: url("Fonts/mb-thin_worms-webfont.woff2") format("woff2"),
    url("Fonts/mb-thin_worms-webfont.woff") format("woff");
}

.logo {
  max-width: 20%;
  float: left;
}

.header {
  background-color: transparent;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  .logo {
    max-width: 90%;
    height: auto;
  }
}

$breakpoint-tablet: 768px;

@media (min-width: $breakpoint-tablet) and (max-width: 1100px) {
  .header {
    max-height: 20%;
    text-align: center;
  }

  .logo {
    max-width: 70%;
    float: none;
  }
}
