@font-face {
    font-family: '3dlet';
    src:  url('../../Fonts/3dlet/3dlet-webfont.woff2') format('woff2'),
          url('../../Fonts/3dlet/3dlet-webfont.woff') format('woff');
}

@font-face {
    font-family: 'barcode';
    src:  url('../../Fonts/barcode/barcodefont-webfont.woff2') format('woff2'),
          url('../../Fonts/barcode/barcodefont-webfont.woff') format('woff');
}

html { 
    height:100%; 
}

.contactForm {
    display: flex;
    border: 5px solid #FCF7DE;
    width: 90%;
    position: relative;
    margin-bottom: 60px;
    left: 5%;
    justify-content: center;

    input {
        width: 100%;
    }
}

.text {
    font-family: barcode;
    font-size: 72px;
    padding: 10px 10px 10px 10px;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.contentContainer {
    justify-content: center;
    flex: 1;
}

.title {
    font-family: '3dlet', Fallback, sans-serif;
    font-size: 160px;
    text-align: center;
    position: relative;    
}

.container {
    padding-top: 10px; 
    margin:0; 
    position:relative; 
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    border: 5px solid #FCF7DE;
    margin-bottom: 10px;
    width: 90%;
    justify-content: center;
    left: 5%;
    align-items: center;

    img {
        border: 5px solid #DEF3FD;
        padding: 5px 5px 5px 5px;
        margin: 10px 10px 10px 10px;
    }
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

@media (max-width: 500px) {
    .title {
        font-size: 70px;
    }
}