@font-face {
    font-family: '3dlet';
    src:  url('../../Fonts/3dlet/3dlet-webfont.woff2') format('woff2'),
          url('../../Fonts/3dlet/3dlet-webfont.woff') format('woff');
}

@font-face {
    font-family: 'barcode';
    src:  url('../../Fonts/barcode/barcodefont-webfont.woff2') format('woff2'),
          url('../../Fonts/barcode/barcodefont-webfont.woff') format('woff');
}

.title {
    font-family: '3dlet', Fallback, sans-serif;
    font-size: 160px;
    text-align: center;
    top: 20%;
    left: 40%;
    position: absolute;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    height: 40%;
    width: 75%;
    position: absolute;
    top: 60%;
    left: 57%;
    transform: translate(-50%, -50%);
    border: 5px solid #FCF7DE;
    font-family: 'barcode';
    font-size: 100px;
    vertical-align: middle;
    padding: 50px;
}

$breakpoint-tablet: 768px;

@media (min-width: $breakpoint-tablet) and (max-width: 1100px) {
    .title{
       left: 15%; 
    }

    .container {
        flex: 1 1 auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #FCF7DE;
        height: 45%;
        font-size: 72px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: flex;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #FCF7DE;
        height: 40%;
        width:60%;
        padding: none;
        vertical-align: none;
        font-size: 40px;
    }

    .text {
        font-size: small;
        font-size: unset;
    }

    .title {
        left: 20%;
        top: 20%;
        font-size: 72px;
    }
}

