@font-face {
    font-family: '3dlet';
    src:  url('../../Fonts/3dlet-webfont.woff2') format('woff2'),
          url('../../Fonts/3dlet-webfont.woff') format('woff');
  }
  
  @-ms-viewport{
    width: device-width;
  }
  
  body {
    background-image: linear-gradient(to right, #ebd4fc, #cfeefc);
  }
  
  div {
    line-height: 200px;
    font-size: 160px;
    word-wrap: break-word;
  }
  
  .blueBox {
    position: relative;
    top: 30%;
    left: 10%;
    font-family: '3dlet', Fallback, sans-serif;
    text-align: center;
    border: 5px solid #DEF3FD;
    vertical-align: middle;
    width: 70%;
    height: 35%;
  }
  
  .redBox {
    top: 30%;
    left: 10%;
    position: relative;
    font-family: '3dlet', Fallback, sans-serif;
    text-align: center;
    border: 5px solid #FDDFDF;
    width: 70%;
    height: 35%;
    vertical-align: middle; 
    word-wrap: break-word;
  }
  
  .greenBox {
    top: 30%;
    left: 10%;
    position: relative;
    font-family: '3dlet', Fallback, sans-serif;
    text-align: center;
    border: 5px solid #DEFDE0;
    width: 70%;
    height: 35%;
    vertical-align: middle;
  }
  
  .purpleBox {
    top: 30%;
    left: 10%;
    position: relative;
    font-family: '3dlet', Fallback, sans-serif;
    text-align: center;
    border: 5px solid #F0DEFD;
    width: 70%;
    height: 35%;
    vertical-align: middle;
  }
  
  .centered {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    height: 62%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border: 5px solid #FCF7DE;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  @media screen and (max-width: 500px) {
    .centered {
      height: 80%;
      width: 70%;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 5px solid #FCF7DE;
    }
  
    .blueBox {
      width: 60%; 
      height: 70%;
      font-size: 50px;
      position: relative;
      top: 30%;
      left: 10%;
      text-align: center;
      vertical-align: middle;
    }
  
    .redBox {
      width: 60%; 
      height: 70%;
      font-size: 38px;
      top: 30%;
      left: 10%;
    }
  
    .greenBox {
      width: 60%; 
      height: 70%;
      font-size: 50px;
      top: 20%;
      left: 10%;
      vertical-align: middle;
      line-height: 100px; 
      word-wrap: break-word;
    }
  
    .purpleBox {
      width: 60%; 
      height: 70%;
      font-size: 50px;
      top: 20%;
      left: 10%;
    }
  }