@font-face {
  font-family: '3dlet';
  src:  url('../../Fonts/3dlet/3dlet-webfont.woff2') format('woff2'),
        url('../../Fonts/3dlet/3dlet-webfont.woff') format('woff');
}
  
@-ms-viewport{
  width: device-width;
}

body {
  background-image: linear-gradient(to right, #ebd4fc, #cfeefc, #FDDFDF, #DEFDE0);
  background-size: 200%;
  animation: bg-animation 3s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left
  }
  100% {
    background-position: right;
  }
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.contentContainer {
  justify-content: center;
  flex: 1;
}

.hand {
  max-width: 20%;
  position: absolute;
  left: 0%;
  top: 20%;
}

.blueBox, .redBox, .greenBox, .purpleBox {
  font-family: '3dlet', Fallback, sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 105px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

.blueBox {
  border: 5px solid #DEF3FD;
  font-size: 400%;
}

.redBox {
  border: 5px solid #FDDFDF;
  font-size: 400%;
}

.greenBox {
  border: 5px solid #DEFDE0;
  font-size: 400%;
}

.purpleBox {
  border: 5px solid #F0DEFD;
  font-size: 250%;
}

.container {
  display: flex;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  height: 62%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  border: 5px solid #FCF7DE;
  justify-content: center;
}

.particles {
  height: 62%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: black;
}

.redBox:hover, .blueBox:hover, .greenBox:hover, .purpleBox:hover{
  background-color: black;
  color: white;
  background-clip: content-box;
}

@media screen and (max-width: 500px) {
  .hand {
    display: none;
  }

  body {
    background-size: 100%;
    animation: none;
  }

  .particles {
    display: none;
  }

  .container {
    flex-direction: column;
    top: 55%;
    left: 50%;
    border: 5px solid #FCF7DE;
    margin-bottom: 10px;
  }

  .blueBox, .redBox, .greenBox {
    font-size: 50px;
    height: 15%;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 75px;
  }

  .purpleBox {
    font-size: 28px;
    height: 15%;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 75px;
  }

  .blueBox {
    border: 4px solid #DEF3FD;
  }

  .redBox {
    border: 4px solid #FDDFDF;
    font-size: 38px;
  }

  .greenBox {
    border: 4px solid #DEFDE0;
  }

  .purpleBox {
    border: 4px solid #F0DEFD;
  }
}

@media (max-width: 320px) {
  .blueBox, .redBox, .greenBox, .purpleBox {
    line-height: 50px;
  }
}

$breakpoint-tablet: 768px;

@media (min-width: $breakpoint-tablet) and (max-width: 1100px) {
  body {
    background-size: 100%;
    animation: none;
  }

  .container {
    height: 60%;
    top: 55%;
    left: 50%;
    flex-wrap: wrap;
  }

  .blueBox, .redBox, .greenBox, .purpleBox {
    width: 35%;
    text-align: center;
    height: 25%;
    line-height: 170px;
  }

  .blueBox, .greenBox, .purpleBox {
    font-size: 400%;
  }

  .redBox {
    font-size: 300%
  }

  .particles {
    display: none; 
  }

  .hand {
    display: none;
  }
}