@font-face {
  font-family: '3dlet';
  src:  url('../../Fonts/3dlet/3dlet-webfont.woff2') format('woff2'),
        url('../../Fonts/3dlet/3dlet-webfont.woff') format('woff');
  }
  
  @-ms-viewport{
    width: device-width;
  }
  
  body {
    background-image: linear-gradient(to right, #ebd4fc, #cfeefc, #FDDFDF, #DEFDE0);
    background-size: 200%;
    animation: bg-animation 3s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @keyframes bg-animation {
    0% {
      background-position: left
    }
    100% {
      background-position: right;
    }
  }
  
  div {
    line-height: 100px;
    font-size: 72px;
    word-wrap: break-word;
  }
  
  .blueBox {
    position: relative;
    top: 30%;
    left: 10%;
    font-family: '3dlet', Fallback, sans-serif;
    text-align: center;
    border: 5px solid #DEF3FD;
    vertical-align: middle;
    width: 70%;
    height: 35%;
  }
  
  .redBox {
    top: 30%;
    left: 10%;
    position: relative;
    font-family: '3dlet', Fallback, sans-serif;
    text-align: center;
    border: 5px solid #FDDFDF;
    width: 70%;
    height: 35%;
    vertical-align: middle; 
    word-wrap: break-word;
  }
  
  .greenBox {
    top: 30%;
    left: 10%;
    position: relative;
    font-family: '3dlet', Fallback, sans-serif;
    text-align: center;
    border: 5px solid #DEFDE0;
    width: 70%;
    height: 35%;
    vertical-align: middle;
  }
  
  .purpleBox {
    top: 30%;
    left: 10%;
    position: relative;
    font-family: '3dlet', Fallback, sans-serif;
    text-align: center;
    border: 5px solid #F0DEFD;
    width: 70%;
    height: 35%;
    vertical-align: middle;
  }
  
  .centered {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    height: 62%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border: 5px solid #FCF7DE;
  }
  
  .particles {
    height: 62%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }

  a {
    text-decoration: none;
    color: black;
  }
  
  @media screen and (max-width: 500px) {

    body {
      background-size: 100%;
      animation: none;
    }

    div {
        line-height: 70px;
    }

    .particles {
      display: none;
    }

    .centered {
      flex: 1 1 auto;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 5px solid #FCF7DE;
      margin-bottom: 10px;
    }
  
    .blueBox {
      width: 60%; 
      height: 50%;
      font-size: 50px;
      top: 20%;
      left: 10%;
      border: 4px solid #DEF3FD;
    }
  
    .redBox {
      width: 60%; 
      height: 50%;
      font-size: 38px;
      top: 10px;
      left: 10%;
      border: 4px solid #FDDFDF;
    }
  
    .greenBox {
      width: 60%; 
      height: 50%;
      font-size: 50px;
      top: 10px;
      left: 10%;
      border: 4px solid #DEFDE0;
    }
  
    .purpleBox {
      width: 60%; 
      height: 50%;
      font-size: 50px;
      top: 10px;
      left: 10%;
      border: 4px solid #F0DEFD;
    }
}

.redBox:hover, .blueBox:hover, .greenBox:hover, .purpleBox:hover{
  background-color: black;
  color: white;
  background-clip: content-box;
}

$breakpoint-tablet: 768px;

@media (min-width: $breakpoint-tablet) and (max-width: 1100px) {
  body {
    background-size: 100%;
    animation: none;
  }

  .centered {
    flex: 1 1 auto;
    position: absolute;
    width: 90%;
    height: 65%;
    top: 58%;
    left: 50%;
  }

  .blueBox, .redBox, .greenBox, .purpleBox {
    height: 40%;
    position: relative;
    line-height: 120px;
    text-align: center;
  }

  .blueBox, .greenBox, .purpleBox {
    font-size: 40%;
  }

  .redBox {
    font-size: 30%
  }

  .particles {
    display: none; 
  }

  
}